//Main colors
$color-brand: #dce123;
$color-brand-darkest: #a8aa2a;
$color-brand-dark: #c2c52e;
$color-brand-light: #f4f750;

$color-primary: #212628;
$color-primary-dark: #161a1b;
$color-primary-light: #4b5153;

$color-background: #ffffff;
$color-background-dark: #929c9f;
$color-background-shadow: #f1f5fa;
$color-background-shade: #f8fafc;

$color-accent: #f8f8e7;
$color-accent-shadow: #cecec2;
$color-accent-dark: #e8e8c0;

// Deposit colors
$color-deposit-1: #7196da;
$color-deposit-2: #658acf;
$color-deposit-hover: #557dc8;
